<% provide(:title, "Code") %>
<% content_for :navigation do %>
  <%= link_to root_path do %>
  <h2>Home</h2>
  <% end %>
  <%= link_to about_path do %>
  <h2>About</h2>
  <% end %>
  <%= link_to comics_path do %>
  <h2>Comics</h2>
  <% end %>
<% end %>
<main class="width-limit-small coding">
<div class="coding-top">
<div class="row-coding-1">
  <h1>Try resizing this website... It is adaptive!!</h1>
  <p><b>Every page</b> you see on this site has a <b>different</b> adaptive layout using the Sass-based grid package <a href="http://susy.oddbird.net/">Susy</a>. I also utilize <a href="http://compass-style.org/">Compass</a> and its Vertical Rhythm package to keep total control of line height and font size.</p>
  <h2>Just change the size of the browser window!</h2>
</div>
<div class="row-coding-2">
<h1>It isn't finished...</h1>
<h2>and it probably never will be!</h2>
<p>I also need to deploy the rails database so that users can sign up on our Rough House mailing list. I will also be rebuilding the site eventually as an <a href="https://angularjs.org/">angular.js</a> app as I gain mastery over that suite of tools. I use <a href="http://git-scm.com/">Git</a> in my everyday work, and this site you are looking at is hosted on <a href="https://www.heroku.com/">Heroku</a>, but I have deployed to barebones linux servers before. I am constantly learning new things, and eager for more!</p>
<h2>Interested in hiring me?</h2>
<p>Check out my <a href="https://www.linkedin.com/pub/alex-webb/a1/55/909/">LinkedIn profile</a>, or just send me <a href="mailto:alexwebbb@yahoo.com">an email!</a></p>
</div>	
<div class="row-coding-3">
<%= link_to "https://github.com/alexwebbb/alexdotcom" do %>
  <h1>Check out the source code for this site at Github</h1>
  <% end %>
  <p>If you are unfamiliar with rails, the Sass and JS are in the app/assets folder and the html is in the views.</p>
  <h2>This site uses a Ruby on Rails backend.</h2>
  <p>I use Rails because it is easy to work with, but I have worked with PHP for more than <b>three years</b> keeping the garden at my last job. I like rails because it makes routing easy and it is easy to add to, and ruby is of course fun to work with.</p>
</div>
</div>