<main class="comics">

<div class="row-d">
  <h1>Comics & Illustration</h1>
  <h2>Here you can see my comics, illustrations, and photography projects.</h2>
  <p></p>
</div>
<div class="row-e">
<h2>Make a selection</h2>
</div>
<div class="row-f">
<h2>A description of the images will appear here</h2>
<p>Here I will describe each set of pictures in greater detail</p>
</div>

</main>