<% provide(:title, "Code") %>
<% content_for :navigation do %>
  <%= link_to root_path do %>
  <h2>Home</h2>
  <% end %>
  <%= link_to about_path do %>
  <h2>About</h2>
  <% end %>
  <%= link_to comics_path do %>
  <h2>Comics</h2>
  <% end %>
<% end %>
<main class="width-limit-small">
<div class="coding-top">
<div class="row-coding-1">
	<h1>Code</h1>
	<p> <a href="#cont">(continued below)</a></p>
</div>
<div class="row-coding-2">
</div>	
<div class="row-coding-3">
</div>
</div>