@import 'susy';
@import 'compass';
// @import 'compass/typography';
@import 'breakpoint';
@import url(https://fonts.googleapis.com/css?family=Montserrat|Pacifico);
@include border-box-sizing;
$base-font-size: 12px;
$base-line-height: 21px;
@include establish-baseline;
$bp-m: 520px;
$bp-l: 880px;
$bp-xl: 1200px;
$initial: layout(17 0 fluid float);
$med: layout(12 0 fluid float);
$gallery: layout(12 .5 fluid float);
$lrg: layout(24 0 fluid float);
$lrg-isolate: layout(24 0 fluid isolate);
$c1: #4bff8b;
$c2: #49d6e8;
$c3: #93a6ff;
$c4: #9d42e8;
$c5: #ff65ab;
$c6: #fff849;
$xl-sidebar-width: 6;
$row-height: 250px;

// Styling

@mixin color-scheme($number) {
  @if $number == 1 {
    background-color: scale-lightness($c2, 45%);
    border-bottom-color: $c3;
    border-top-color: lighten($c1, 5%);
  }

  @if $number == 2 {
    background-color: scale-lightness($c3, 45%);
    border-bottom-color: $c4;
    border-top-color: lighten($c2, 5%);
  }

  @if $number == 3 {
    background-color: scale-lightness($c4, 45%);
    border-bottom-color: $c5;
    border-top-color: lighten($c3, 5%);
  }
}

%header-font {
  color: scale-lightness($c4, -20%);
  font-family: Pacifico,Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  font-weight: 500; 
  text-align: center;

  .comics & {
    @include unstyled-link;
    font-family: Montserrat,Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: scale-lightness($c5, -20%);
  }  

  .coding & {
    font-family: Montserrat,Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: scale-lightness($c3, -20%);
  }  

  nav & {
    font-family: Montserrat,Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: scale-lightness($c3, -20%);
  }
}


h1 { 
  @extend %header-font;
  // adjust-font-size-to($to-size, $lines, $from-size)
  @include adjust-font-size-to(38px, 1);
  text-shadow: 2px 2px $c3;


}

h2 { 
  @extend %header-font;
  @include adjust-font-size-to(12px, .85);
}

h3 {
  @extend %header-font;
}

p {
  color: scale-lightness($c5, -40%);
  font-family: Georgia,Times,Times New Roman,serif;
  font-weight: 400;

}

a {
  // link-colors ( normal hover active visited focus )
  @include link-colors($c4, $c5, $c5, $c4, $c5);
  text-decoration: none;

  h1,
  h2 {
    @include unstyled-link;
  }
}

/**
 * Clearfix for IE8 and up
 * http://css-tricks.com/snippets/css/clear-fix/
 */
@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Nav

nav {
  @include cf;
  background-color: scale-lightness($c1, 50%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 30px;

  a {
    @include layout($gallery);
    @include gallery(4 of 12);
    @include adjust-leading-to(.5, 12px);
    text-shadow: 1px 1px $c3;
    display: inline-block;

    @include breakpoint($bp-l) {
      @include gallery(4 of 48);
    }
  }
}

// Main Layout


.width-limit-large {
  margin-left: auto;
  margin-right: auto;
  max-width: 1780px;
}

.width-limit-small {
  margin-left: auto;
  margin-right: auto;
  max-width: 1344px;
}

.container {
  @include container;
  @include span(full);
  @include layout($initial);  
 }

// Vertical Rhythm in Compass is used for applying all borders

main {
  margin-top: 30px;

  @include breakpoint($bp-m) {
    @include leading-border(4px, 0);
    @include trailing-border(4px, 0);
    border-bottom-color: $c6;
    border-top-color: $c1;
  }

  &.comics {
    @include breakpoint($bp-m) {
      @include leading-border(0, 0);
      @include cf;
      height: auto;
      border-top-color: $c1;
    }
  }
}

// I extend from a general image class for the backgrounds

%img-class {
  @include span(full);
  height: 900px;
  
  &.display-small {
    display: inline-block;
  }

  &.display-large {
    display: none;
  }

  @include breakpoint($bp-m) {
    height: 400px;

    &.display-small {
      display: none;
    }

    &.display-large {
      display: inline-block;
    }
  }

  @include breakpoint($bp-l) {
    height: 600px;
  }

  @include susy-breakpoint($bp-xl, $lrg) {
    @include span(23 - $xl-sidebar-width);
    @include trailing-border(12px, .5);
    border-bottom-color: lighten($c1, 5%);
    height: $row-height*3;

    &.display-not-xl {
      display: none;
    }
  }
}

// Picture changer button at xl

.xl-button {
  display: none;
  position: relative;

  @include susy-breakpoint($bp-xl, $lrg) {
    @include span(1);
    height: 750px;
    background-color: scale-lightness($c5, 40%);
    display: inline-block;

    .v-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-family: Montserrat,Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
      color: scale-lightness($c5, 60%);
      text-shadow: 1px 2px $c5;
    }

    &:hover {
      background-color: scale-lightness($c5, 70%);
    }
  }
}

// here are the actual images classes for the background images

.home-top {
  @extend %img-class;
  background: inline-image('bgs/p3.jpg') no-repeat;

  //picture changer button

  &.switch {
    background: image-url('bgs/p4.jpg') no-repeat;
  }
}

.home-bottom {
  @extend %img-class;
  background: image-url('bgs/p4.jpg') no-repeat;

}



// I use a model for the rows used throughout as well, it is designed to be "mobile first"

%row-model-pre {
  @include span(full);
  @include leading-border(4px, .5);
  @include trailing-border(12px, .5);
  height: 250px;
  padding-left: 1em;
  padding-right: 1em;

  @include breakpoint($bp-m) {
    height: 250px;
  }
}

// Home page rows

.row-home-1 {
  @extend %row-model-pre;
  @extend %row-model-home;
  @include color-scheme(1);
  height: auto;

  @include susy-breakpoint($bp-m, $med) {
    @include span(full);
  }

  @include susy-breakpoint($bp-l, $med) {
    @include span(4 first);
    height: 200px;
  }
}

.row-home-2 {
  @extend %row-model-pre;
  @extend %row-model-home;
  @include color-scheme(2);
  overflow: hidden;

  h1 {
    height: 40px;
  }

  figure {
    @include span(full);
    background: inline-image('preview/comicslil.jpg') center no-repeat;
    border-radius: 60px 0 0 0;
    border: 4px dashed $c4;
    height: 120px;
    // opacity: 0.4;

    @include breakpoint(max-width ($bp-m - 1)) {
      border-radius: 60px 60px 0 0;
    }

    @include breakpoint($bp-xl) {
      border-radius: 60px 60px 0 0;
    }
  }

  @include susy-breakpoint($bp-m, $med) {
    @include span(6 first);
  }

  @include susy-breakpoint($bp-l, $med) {
    @include span(4);
  }
}

.row-home-3 {
  @extend %row-model-pre;
  @extend %row-model-home;
  @include color-scheme(3);
  overflow: hidden;

  h1 {
    height: 40px;
  }

  figure {
    @include span(full);
    background: inline-image('preview/codinglil.jpg') center no-repeat;
    border-radius: 0 60px 0 0;
    height: 120px;
    border: 4px dashed $c6;

    @include breakpoint(max-width ($bp-m - 1)) {
      border-radius: 60px 60px 0 0;
    }

    @include breakpoint($bp-xl) {
      border-radius: 60px 60px 0 0;
    }
  }
  
  @include susy-breakpoint($bp-m, $med) {
    @include span(6 last);
  }

  @include susy-breakpoint($bp-l, $med) {
    @include span(4 last);
  }
}

%row-model-home {
  @include breakpoint($bp-l) {
    height: 300px;
  }

  @include susy-breakpoint($bp-xl, $lrg) {
    @include leading-border(0, .5);
    @include span($xl-sidebar-width);
    height: $row-height;
  }
}

// Comics

%row-model-comics {
  @include breakpoint($bp-m) {
    @include leading-border(4px, 0);
    border-top-color: $c1;
  }
}

.row-comics-1 {
  @extend %row-model-pre;
  @extend %row-model-comics;
  @include color-scheme(1);
  height: auto;
  
  @include susy-breakpoint($bp-m, $med) {
    @include span(full);
    height: 200px;
  }

  @include susy-breakpoint($bp-l, $lrg-isolate) {
    @include span(6 first);
    height: 400px;
    position:relative;
    z-index: 100;
  }

  @include susy-breakpoint($bp-xl, $lrg-isolate) {
    @include span(6 first);
    height: $row-height + 100;
    position: fixed;
  }
}

.row-comics-2 {
  @extend %row-model-pre;
  @extend %row-model-comics;
  @include color-scheme(2);
  height: auto;

  @include susy-breakpoint($bp-m, $med) {
    @include span(8 first);
    height: 500px;
  }

  @include susy-breakpoint($bp-l, $lrg-isolate) {
    @include span(12 at 7);
    @include cf;
    height: 400px;
  }

  @include susy-breakpoint($bp-xl, $lrg-isolate) {
    @include span(12 at 7);
    height: $row-height + 100;
  }
}

.row-comics-3 {
  @extend %row-model-pre;
  @extend %row-model-comics;
  @include color-scheme(3);
  height: auto;
  
  @include susy-breakpoint($bp-m, $med) {
    @include span(4 last);
    height: 500px;
  }

  @include susy-breakpoint($bp-l, $lrg-isolate) {
    @include span(6 at 19 last);
    position: fixed;
    height: 400px;
  }

  @include susy-breakpoint($bp-xl, $lrg-isolate) {
    @include span(6 at 19 last);
    height: $row-height + 100;
  }
}

// Comics gallery

.gallery figure {
  @include layout($gallery);
  @include cf;
  @include span(full);
  height: auto;

  img {
    @include span(full);
    max-width: 350px;
    height: 60px;
    box-shadow: 10px 10px 5px $c6;
  }

  @include breakpoint($bp-m) {
    @include gallery(6 of 12);

    img {
      height: 90px;
    }    
  }

  @include breakpoint($bp-l) {
    @include gallery(4 of 12);

    img {
      height: 100px;
    }
  }

  @include breakpoint($bp-xl) {
    @include gallery(2 of 12);
    
    img {
      height: 225px;
    }
  }
}

//Gallery images


.images {
  @include susy-breakpoint($bp-l, $lrg) {
    @include span(18);
    margin-top: 400px;
  }

  @include susy-breakpoint($bp-xl, $lrg-isolate) {
    @include span(12 at 7);
    margin-top: $row-height + 100;
  }
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6 {
  display: none;

  &.active {
    display: block;
  }

  img {
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;

    @include breakpoint($bp-l) {
      display: block;
    }
  }
}

// This is necessary to make it so the horse lady gallery produces seperate scroll bars for each

.g1 {
  .nested {
    height: 540px;
    width: 1920px;
  }

  figure {
    margin-bottom: 200px;
  }
}

// Pop this on something and it becomes scrollable

.scroll {
  @at-root figure#{&} {
    overflow: scroll;
    height: 100%;
  }

  @at-root article#{&} {
    @include breakpoint($bp-m) {
      overflow: scroll;
      height: 100%;
    }
  }
}

// Okay the reason I am using inline images here is that sprites don't
// exhibit the same "centering" behaviour that background: center 
// provides. Since these frames are designed to be resized, this is
// a key requirement.

.p1 {
  background: inline-image('preview/hl3.jpg') center no-repeat;
}

.p2 {
  background: inline-image('preview/rh2.jpg') center no-repeat;
}

.p3 {
  background: inline-image('preview/gtc.jpg') center no-repeat;
}

.p4 {
  background: inline-image('preview/rh1.jpg') center no-repeat;
}

.p5 {
  background: inline-image('preview/sd.jpg') center no-repeat;
}

.p6 {
  background: inline-image('preview/sl.jpg') center no-repeat;
}

// Default is for the text block in the gallery, it removes the prompt

.default {
  display: none;

  &.active {
    display: block;
  }
}

// About Section

.row-about-1 {
  @extend %row-model-pre;
  @include color-scheme(1);
  height: auto;

  .about-small {
    display: inline;
  }

  .about-large {
    display: none;
  }

  @include susy-breakpoint($bp-m, $med) {
    @include span(full);
    @include leading-border(0, 0);
  }

  @include susy-breakpoint($bp-l, $med) {
    @include span(full);
  }

  @include susy-breakpoint($bp-xl, $lrg) {
    @include span(4);
    height: 640px;

  .about-small {
    display: none;
  }

  .about-large {
    display: inline;
  }

  }
}

.row-about-2 {
  @extend %row-model-pre;
  @include color-scheme(2);
  height: auto;

  @include susy-breakpoint($bp-m, $med) {
    @include span(6 last);
    height: 400px;
  }

  @include susy-breakpoint($bp-l, $med) {
    @include span(3 last);
    height: 610px;

  }

  @include susy-breakpoint($bp-xl, $lrg) {
    @include span(5 last);
    @include leading-border(0, 0);
    height: 640px;

  }
}

.contact-list div {
  @include cf;
  background-color: scale-lightness($c3, 65%);
  text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;
  
  @include breakpoint(max-width ($bp-l - 1)) {
  @include gallery(6 of 12);
}

  @include breakpoint($bp-l) {
    @include span(full);
  }
}

.row-about-3 {
  @extend %row-model-pre;
  @include color-scheme(3);
  height: auto;

  @include susy-breakpoint($bp-m, $med) {
    @include span(full);
    
  }

  @include susy-breakpoint($bp-l, $med) {
    @include span(9);
    height: 210px;
  }

  @include susy-breakpoint($bp-xl, $lrg) {
    @include span(15);
    height: 240px;
  }
}


.about-top {
  @include span(full);
  background: inline-image('bgs/p2.jpg') center no-repeat;
  height: 400px;
  position: relative;

  &.display-small {
    display: inline-block;
  }

  &.display-large {
    display: none;
  }

  figure {
    background: inline-image('self/alex-photo.jpg') center no-repeat;
    height: 300px;
    width: 300px;
    border: 4px dashed $c3;  
    border-radius: 300px;

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    @include breakpoint($bp-m $bp-l) {
      height: 250px;
      width: 250px;
    }
  }

  @include susy-breakpoint($bp-m, $med) {
    @include span(6);
    height: 400px;

    &.display-small {
      display: none;
    }

    &.display-large {
      display: inline-block;
    }
  }

  @include susy-breakpoint($bp-l, $med) {
    @include span(9);

  }

  @include susy-breakpoint($bp-xl, $lrg) {
    @include span(15);
  }
}

// Coding section

.row-coding-1 {
  @extend %row-model-pre;
  @include color-scheme(1);
  height: auto;
  margin-bottom: 150px;

  @include susy-breakpoint($bp-m, $med) {
    @include span(10);
    @include leading-border(0, 0);
    margin-bottom: 100px;
  }

  @include susy-breakpoint($bp-l, $lrg-isolate) {
    @include span(6 first);
    margin-bottom: 0px;
  }

  @include susy-breakpoint($bp-xl, $lrg-isolate) {
    @include span(4 first);
  }
}

.row-coding-2 {
  @extend %row-model-pre;
  @include color-scheme(2);
  height: auto;
  margin-bottom: 150px;

  @include susy-breakpoint($bp-m, $med) {
    @include pre(2);
    @include span(10 last);
    margin-bottom: 100px;

  }

  @include susy-breakpoint($bp-l, $lrg-isolate) {
    @include span(6 last);
    @include leading-border(0, 0);
    margin-bottom: 0px;

  }

  @include susy-breakpoint($bp-xl, $lrg-isolate) {
    @include span(4 last);
  }
}

.row-coding-3 {
  @extend %row-model-pre;
  @include color-scheme(3);
  height: auto;

  @include susy-breakpoint($bp-m, $med) {
    @include span(10);
    
  }

  @include susy-breakpoint($bp-l, $lrg-isolate) {
    @include span(6 at 10);
    margin-top: 300px;
    // height: 450px;
  }

  @include susy-breakpoint($bp-xl, $lrg-isolate) {
    @include span(4 at 11);
    margin-top: 150px;
    // height: 600px;
  }
}



.coding-top {
  @include trailing-border(0, 0);
  @include cf;
  background: inline-image('bgs/p5.jpg') repeat-y;
  height: 900px;

  @include breakpoint($bp-m) {
    height: 800px;

  }

  @include breakpoint($bp-l) {

  }

  @include breakpoint($bp-xl) {
    @include trailing-border(12px, 0);
    border-bottom-color: $c6;
    height: 750px;

  }
}

// Footer

.footer {
  @include span(full);
  background-color: #fff;
  color: darken($c1, 20%);

  @include breakpoint($bp-m) {
    @include leading-border(12px, .5);
    border-top-color: lighten($c1, 5%);
  }

  @include breakpoint($bp-l) {
    @include leading-border(12px, .5);
    border-top-color: lighten($c1, 5%);
  }

  @include breakpoint($bp-xl) {
    @include leading-border(0, 0);
  }
}
